{% extends "templates/base.html" %}

{% block borderRadius %}
	--border-radius: 1.25rem;
{% endblock %}

{% block content22CSS %}
	/*border: 1px solid black;*/
{% endblock %}
	
{% block centerSize %}
	--height-container: calc(25rem);
	--width-container: calc(54rem);
	--height-center: 10rem;
	--width-center: calc(12rem);
	
{% endblock %}

{% block titleCSS %}



{% endblock %}


{% block moreCSS %}
.container {
  	grid-template-rows: 1fr;
  	column-gap: 1rem;
	position: relative;
	top: calc((100vh - var(--height-container)) / 2);
}
.content-22 {
	overflow: visible;
	grid-row: 1;
}
.content-31 {
	display: none;
}
.content-33 {
	display: none;
}
.content-11 {
	grid-column: 1;
	grid-row: 1;
}
.content-13 {
	grid-column: 3;
	grid-row: 1;
}

body {
	background-image: url("../img/lightbg.png");
	background-size: cover;
	
}

{% endblock %}


{% block title11 %}
<div class="title">
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://sudokufarm.com">About Me</a>
	</span>
	<span class="titleRight">
	</span>
</div>
{% endblock %}
{% block content11 %}
Email: <input type="text"/>
<ul>
	<li>Easy</li>
	<li>Medium</li>
	<li>Hard</li>
</ul>
{% endblock %}	

{% block title13 %}
<div class="title">
	<div class="titleBG">
		<span class="titleLeft">
		
		</span>
		<span class="titleCenter">
			<a href="https://gifsaw.com">Created Games</a>
		</span>
		<span class="titleRight">
		
		</span>
	</div>
</div>
{% endblock %}
{% block content13 %}

{% for game in games %}
<div><a href="../{{username}}/{{game.id}}">{{game.id}}</a>
</div>
{% endfor %}

{% endblock %}	

{% block title31 %}
<div class="title">
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://csshole.com">Settings</a>
	</span>
	<span class="titleRight">
	</span>
</div>
{% endblock %}
{% block content31 %}

{% endblock %}

{% block title33 %}
<div class="title">
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://qblur.com">Friends</a>
	</span>
	<span class="titleRight">
		<label for="radio33-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio33-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio33-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content33 %}

{% endblock %}




{% block content22 %}
	<img src="../robots/{{ username }}1.png" style="width: 80%;">
{% endblock %}






{% block bodyStart %}

{% endblock %}


{% block scripts %}

{% endblock %}

