{% extends "templates/base.html" %}


{% block borderRadius %}
	--border-radius: 1.25rem;
{% endblock %}

{% block content22CSS %}
	/*border: 1px solid black;*/
{% endblock %}
	
{% block centerSize %}
	--height-center: 9rem;
	--width-center: 9rem;
{% endblock %}

{% block titleCSS %}

.titleBG {
	background-image: url("../img/ftractor-40.png");
  	background-size: auto 100%;
  	background-repeat: no-repeat;
  	background-position: 0px 0px;
  	transition: background-position 1s linear;
  	height: 100%;
  	width: 100%;
}
.titleBG:hover {
  	background-position: 350px 0px;
  	transition: all 2s linear;
}

{% endblock %}


{% block moreCSS %}
.title a {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}
.title a:hover {
	text-decoration: underline;
	text-shadow: 0px 0px 10px black 0px 0px 10px black;
}
.title label:hover {
	cursor: pointer;
	text-shadow: 0px 0px 10px black 0px 0px 10px black;
}
body {
	background-image: url("../img/lightbg.png");
	background-size: cover;
	
}

{% endblock %}


{% block title11 %}
<div class="title">
	<div class="titleBG">
	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="../game.html">Play Now</a>
	</span>
	<span class="titleRight">
	</span>
</div>
{% endblock %}
{% block content11 %}
Play our <a href="../game.html">game of the day</a>.<br />
Or play a random game:<br />
<button class="basic" onclick="randomGame('easy')">Easy</button>
<button class="basic" onclick="randomGame('medium')">Medium</button>
<button class="basic" onclick="randomGame('hard')">Hard</button>

{% endblock %}	

{% block title13 %}
<div class="title">
	<div class="titleBG">
	</div>
	<span class="titleLeft">
	
	</span>
	<span class="titleCenter">
		<a href="../tutorial.html">Tutorial</a>
	</span>
	<span class="titleRight">
	
	</span>
	
</div>
{% endblock %}
{% block content13 %}
If you don't know how to play, quickly complete our <a href="../tutorial.html">tutorial</a> to learn how to play.
If you can solve standard Sudoku puzzles, you'll learn in minutes.
{% endblock %}	

{% block title31 %}
<div class="title">
	<div class="titleBG">
	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="../create">Game Creator</a>
	</span>
	<span class="titleRight">
	</span>
</div>
{% endblock %}
{% block content31 %}
Choose your crops, animals, and resources.
Determine how many resources they produce and consume each turn.
Then pick a Sudoku puzzle and share <a href="../create">your game</a> with the world!
{% endblock %}

{% block title33 %}
<div class="title">
	<div class="titleBG">
	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://itunes.apple.com/us/app/sudoku-farm/id1415556969?mt=8">Download</a>
	</span>
	<span class="titleRight">
	</span>
</div>
{% endblock %}
{% block content33 %}
<a class="dropbtn" href="https://itunes.apple.com/us/app/sudoku-farm/id1415556969?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;width:135px;height:40px;background-size:contain;"></a>

{% endblock %}




{% block content22 %}
	<div class="logoDiv" style="height:9rem; position: relative;">
		<img src="../img/sflogo1024trans.png" style="width:8rem;left:.5rem; position: absolute; top:.5rem;">
		<span class="logoText">Sudoku Farm</span>	
	</div>
	<div class="centerLink">
		<button class="basic" onclick="window.location.href='../account';">My Account</button>
	</div>
	<div class="centerLink">
		<button class="basic" onclick="window.location.href='../about';">About</button>
	</div>

{% endblock %}






{% block bodyStart %}

{% endblock %}


{% block scripts %}
<script>
	function randomGame(difficulty){
		window.location.href='../game.html?l='+difficulty+Math.floor(Math.random()*81 + 1);
	}
</script>
{% endblock %}

