{% extends "templates/base.html" %}


{% block borderRadius %}
	--border-radius: 1.25rem;
{% endblock %}

{% block content22CSS %}
	/*border: 1px solid black;*/
{% endblock %}
	
{% block centerSize %}
	--height-center: 9rem;
	--width-center: 9rem;
{% endblock %}

{% block titleCSS %}

.titleBG {
	background-image: url("../img/ftractor-40.png");
  	background-size: auto 100%;
  	background-repeat: no-repeat;
  	background-position: 0px 0px;
  	transition: background-position 1s linear;
  	height: 100%;
  	width: 100%;
  	position: absolute;
}
.title:hover .titleBG {
  	background-position: 350px 0px;
  	transition: all 2s linear;
}

{% endblock %}


{% block moreCSS %}

div.content-13 > div.content {
	text-align: left;
}
body {
	background-image: url("../img/lightbg.png");
	background-size: cover;
	
}

{% endblock %}


{% block title11 %}
<div class="title">
	<div class="titleBG">
	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		Random Game
	</span>
	<span class="titleRight">
	</span>
</div>
{% endblock %}
{% block content11 %}
<span style="margin:auto;">
	<button class="basic" onclick="randomGame('easy')">Easy</button>
	<button class="basic" onclick="randomGame('medium')">Medium</button>
	<button class="basic" onclick="randomGame('hard')">Hard</button>
</span>
{% endblock %}	

{% block title13 %}
<div class="title">
	<div class="titleBG">
	</div>
	<span class="titleLeft">
	
	</span>
	<span class="titleCenter">
		<a href="../tutorial.html">Tutorial</a>
	</span>
	<span class="titleRight">
	
	</span>
	
</div>
{% endblock %}
{% block content13 %}
<center>Complete the <a href="../tutorial.html">tutorial</a> to learn how to play.</center>
<center>Victory is simple:</center> 
<ul>
	<li>Finish a Sudoku puzzle</li>
	<li>Don't run out of any resource.</li>
</ul>

{% endblock %}	

{% block title31future %}
<div class="title">
	<div class="titleBG">
	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="../create">Game Creator</a>
	</span>
	<span class="titleRight">
	</span>
</div>
{% endblock %}
{% block content31future %}
<ol>
	<li>Choose your crops, animals, and resources</li>
	<li>Set how many resources they produce and use</li>
	<li>Pick a Sudoku puzzle</li>
	<li>Share <a href="../create">your game</a> with the world!</li>
</ol>
{% endblock %}

{% block title31 %}
<div class="title">
	<div class="titleBG">
	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="../game.html">Today's Game</a>
	</span>
	<span class="titleRight">
	</span>
</div>
{% endblock %}
{% block content31 %}

<div><span style="margin:auto;">Set Date: <input type="text" id="date"></input></span></div>
<div><span style="margin:auto;"><button onclick="dailyGame()" class="basic">Play Now</button></span></div>


{% endblock %}

{% block title33 %}
<div class="title">
	<div class="titleBG">
	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://itunes.apple.com/us/app/sudoku-farm/id1415556969?mt=8">Download</a>
	</span>
	<span class="titleRight">
	</span>
</div>
{% endblock %}
{% block content33 %}
<a class="dropbtn" href="https://itunes.apple.com/us/app/sudoku-farm/id1415556969?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;width:135px;height:40px;background-size:contain;"></a>

{% endblock %}




{% block content22 %}
	<div class="logoDiv" style="height:9rem; position: relative;">
		<img src="../img/sflogo1024trans.png" style="width:8rem;left:.5rem; position: absolute; top:.5rem;">
		<span class="logoText">Sudoku Farm</span>	
	</div>
	<div class="centerLink">
		<button class="basic" onclick="window.location.href='../account';">My Account</button>
	</div>
	<div class="centerLink">
		<button class="basic" onclick="window.location.href='../about';">About</button>
	</div>

{% endblock %}






{% block bodyStart %}

{% endblock %}


{% block scripts %}
<script>
	var d = new Date();
	var month = d.getMonth()+1;
	var date = d.getDate();
	var year = d.getYear()-100;
	document.getElementById('date').value = month+'/'+date+'/'+year;
	function randomGame(difficulty){
		window.location.href='../game.html?l='+difficulty+Math.floor(Math.random()*81 + 1);
	}
	function dailyGame(){
		var d = document.getElementById('date').value;
		window.location.href='../game.html?d='+d;
	}
</script>
{% endblock %}

