{% extends "templates/base.html" %}

{% block borderRadius %}
	--border-radius: 1.25rem;
{% endblock %}

{% block content22CSS %}
	/*border: 1px solid black;*/
{% endblock %}
	
{% block centerSize %}
	--height-container: calc(25rem);
	--width-container: calc(54rem);
	--height-center: 10rem;
	--width-center: calc(12rem);
	
{% endblock %}

{% block titleCSS %}



{% endblock %}


{% block moreCSS %}
.container {
  	grid-template-rows: 1fr;
  	column-gap: 1rem;
	position: relative;
	top: calc((100vh - var(--height-container)) / 2);
}
.content-22 {
	overflow: visible;
	grid-row: 1;
}
.content-31 {
	display: none;
}
.content-33 {
	display: none;
}
.content-11 {
	grid-column: 1;
	grid-row: 1;
}
.content-13 {
	grid-column: 3;
	grid-row: 1;
}


body {
	background-image: url("../img/lightbg.png");
	background-size: cover;
	
}

.imgHolder {
    height: var(--height-container);
    width: 100%;
    white-space: nowrap;
    text-align: center;
    margin: 0px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
    vertical-align: middle;
    max-height: var(--height-container);
    max-width: 100%;
}
fieldset {
	width: calc(90% - 1.5em);
	margin: auto;
}
{% endblock %}


{% block title11 %}
<div class="title">

	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		Log In
	</span>
	<span class="titleRight">
	
	</span>
</div>
{% endblock %}
{% block content11 %}
			<form class="" action="/login" method="post">
				<div><fieldset {% if badlogin %}style="border-color: red;"{% endif %}>
					<legend {% if badlogin %}style="color: red;"{% endif %}>Username</legend>
					<input name="username" type="text">
					
				</fieldset></div>
				<div><fieldset {% if badlogin %}style="border-color: red;"{% endif %}>
					<legend {% if badlogin %}style="color: red;"{% endif %}>Password</legend>
					<input name="password" type="password">

					
				</fieldset></div>
				<div class="buttonHolder">
					<button type="submit" class="basic">Sign In</button>
				</div>
				{% if badlogin %}
				<div>
					<span style="color: red;">Username and/or password incorrect.</span>
				</div>
				{% endif %}
			</form>
{% endblock %}	

{% block title13 %}
<div class="title">

	<span class="titleLeft">
	
	</span>
	<span class="titleCenter">
		Register
	</span>
	<span class="titleRight">
	
	
	</span>
</div>
{% endblock %}
{% block content13 %}
			<form class="" action="/register" method="post">
				<div><fieldset>
					<legend>Email</legend>

					
					<input id="email" name="email" type="email">
					
				</fieldset></div>
				<div><fieldset {% if duplicate %}style="border-color: red;"{% endif %}>
					{% if duplicate %}
						<legend style="color: red;">Username (Username not available.)</legend>
					{% else %}
						<legend>Username</legend>
					{% endif %}
					<input name="username" type="text">
					
				</fieldset></div>
				<div><fieldset>
					<legend>Password</legend>

					<input name="password" type="password">

					
				</fieldset></div>
				<div class="buttonHolder">
					<button type="submit" class="basic">Register</button>
				</div>
			</form>
{% endblock %}	






{% block content22 %}
	<div class="imgHolder">
		<span class="helper"></span>
		<a href="../"><img src="../img/sflogo1024trans.png"></a>
		<span class="logoText">Sudoku Farm</span>	
	</div>
{% endblock %}






{% block bodyStart %}

{% endblock %}


{% block scripts %}

{% endblock %}

